// Drop Area Styling
$drop_area_container: rgb(240, 240, 240);

// Dragging state styling
$dragging-state-color:rgb(245, 245, 245);

// Custom scroll Styling
$scroll-bar-color:rgb(185, 185, 185);
$scroll-bar-hovor-color:rgb(85, 85, 85);

// Order item Styles
$order-item-box-shadow: 0px 5px 4px -4px rgba(0,0,0,0.7);
$order-item-background-color:rgb(255, 255, 255);

// Custom Button Styles
$custom-button-color:rgb(243, 243, 243);
$custom-button-text-color:rgb(105, 105, 105);
$custom-button-border:1px solid rgb(211, 211, 211);
$custom-button-active:rgb(2, 212, 2);
$custom-button-active-text-color:rgb(255, 255, 255);
$icon-fill-color:rgb(105, 105, 105);

// Assign Box styling
$assigned-box-color:rgb(199, 253, 199);
$assigned-box-border-color:1px solid lightgreen;

